<div class="logo-container">
  <mat-icon class="logo-icon">balance</mat-icon>
  <span class="logo-text">Sherlock Law</span>
</div>

<mat-nav-list>
  <a mat-list-item routerLinkActive="active" (click)="navigate('/dashboard')">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a
    mat-list-item
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="navigate('/processos')"
  >
    <mat-icon matListItemIcon>assignment</mat-icon>
    <span matListItemTitle>Todos os Processos</span>
  </a>
  <a mat-list-item routerLinkActive="active" (click)="navigate('/processos/monitorados')">
    <mat-icon matListItemIcon>star</mat-icon>
    <span matListItemTitle>Monitorados</span>
  </a>
  <a mat-list-item routerLinkActive="active" (click)="navigate('/relatorios')">
    <mat-icon matListItemIcon>analytics</mat-icon>
    <span matListItemTitle>Relatórios</span>
  </a>
  <mat-divider />

  @if (auth.hasRole('ADMIN')) {
    <a mat-list-item routerLinkActive="active" (click)="navigate('/admin')">
      <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
      <span matListItemTitle>Administração</span>
    </a>
  }
</mat-nav-list>

<div class="sidebar-version">{{ version }}</div>
