<div class="page-container">
  <div class="header-container">
    <h1>{{ title }}</h1>
    <span class="count-badge">Total: {{ totalElements }}</span>
  </div>
  
  @if (isLoading()) {
    <p>Carregando...</p>
  }

  <app-infinite-scroll (scrolled)="onScroll()" [isLoading]="isLoading()">
    @for (atribuicao of atribuicoes; track atribuicao.id) {
      <div class="assigned-process-list-item">
        <app-assigned-process-card [atribuicao]="atribuicao" (monitoramentoToggled)="resetList()"></app-assigned-process-card>
      </div>
    }
  </app-infinite-scroll>
</div>
