:host {
  display: block;
  min-width: 480px;
  max-width: 90vw;

  @media (max-width: 599px) {
    min-width: 0;
    width: 100%;
  }
}

mat-dialog-content {
  min-height: 90px;
  padding: 24px;
  max-height: none;
  overflow: hidden;
}

mat-dialog-actions {
  padding: 16px 24px;
}

p {
  margin: 0 0 16px;
}
