<div class="dashboard-container">
  <app-page-header title="Sherlock Laws" subtitle="Monitoramento de Score e Prazos">
    <mat-button-toggle-group [value]="viewMode()" (change)="onViewModeChange($event)">
      <mat-button-toggle value="meus">Meus Processos</mat-button-toggle>
      <mat-button-toggle value="equipe">Processos da Equipe</mat-button-toggle>
    </mat-button-toggle-group>
  </app-page-header>

  <app-filter-bar
    [hasActiveFilters]="hasActiveFilters()"
    [showProcessoFilters]="true"
    [etiquetasOptions]="etiquetaOptions()"
    [(searchQuery)]="searchQuery"
    [(selectedNiveis)]="selectedNiveis"
    [(selectedStatus)]="selectedStatus"
    [(selectedSituacao)]="selectedSituacao"
    [(selectedAssunto)]="selectedAssunto"
    [(selectedTipologia)]="selectedTipologia"
    [(selectedEtiquetas)]="selectedEtiquetas"
    [(autorComAdvogado)]="autorComAdvogado"
    [(autorSemAdvogado)]="autorSemAdvogado"
    [(partesComAdvogado)]="partesComAdvogado"
    [(partesSemAdvogado)]="partesSemAdvogado"
    [(semAdvogado)]="semAdvogado"
    (filterChange)="onFilterChange($event)"
    (clearFilters)="onClearFilters()"
  />

  <app-assigned-processes-list [mode]="viewMode()" [filter]="filterParams()" />
</div>