<mat-card>
  <mat-card-header>
    <mat-card-title>Explicação do Score: {{ processo.numero }}</mat-card-title>
    <mat-card-subtitle>Score Final: <span class="font-mono">{{ processo.scoreFinal }}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Justificativas</h3>
    <mat-list>
      @for (item of processo.hipoteses; track item.nomeRegra) {
        <mat-list-item>
          <div matListItemTitle>{{ item.nomeRegra }}</div>
          <div matListItemLine>Pontos: {{ item.pontos }}</div>
          <div matListItemLine>{{ item.justificativa }}</div>
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
