@use '@angular/material' as mat;

:root {
  --primary-navy: #001C44;
  --secondary-slate: #475D7E;
  --accent-gold: #C5A059;
  --surface-off-white: #F8F9FA;
  --urgency-red: #B00020;
}

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

html {
  height: 100%;
}

body {
  @include mat.all-component-themes($theme);
  @include mat.system-level-typography($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  
  background-color: var(--surface-off-white);
  color: var(--primary-navy);
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100%;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

// Snackbar Custom Styles
.error-snackbar {
  background-color: #B00020 !important;
  color: white !important;
}

.success-snackbar {
  background-color: #2E7D32 !important;
  color: white !important;
}

.warn-snackbar {
  background-color: #C5A059 !important;
  color: white !important;
}
